<div class="medium-card">
  <div class="card-header"> Ranking Funcionarios </div>
  <div class="content">
    <div class="pontos">Pontos</div>
    <ul class="ranking-list">
      <li *ngFor="let user of users">
        <div class="content-li row">
          <div class="content-li-counter col-1"> {{user.points}} </div>
          <div class='user-image col-2'>
            <profile-image width="45" height="45" [user]="user" ></profile-image>
          </div>
          <!-- <img src="/assets/img/voce/bg_avatar.png"> -->
          <div class="name col-8">
            {{user.name | shorten: 25: '...'}}
            <!-- {{'Hey foo bar' | shorten: 3: '...'} -->
            <!-- <span>Belo Horizonte</span>  -->
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
