@import '../../../sass/conf/conf';
$height: 52px;

.ba-back-top {
  position: fixed;
  width: $height;
  height: $height;
  cursor: pointer;
  z-index: 9999;
  display: none;
  text-decoration: none;
  right: 40px;
  bottom: 40px !important;
  font-size: 45px;
  text-align: center;
  opacity: 0.4;
  color: $primary;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  line-height: 46px;
  &:hover {
    opacity: 0.8;
  }
}
