<div class="login">
  <div class="login_box">
    <div class="login_logo"></div>
    <form #signInForm="ngForm" (ngSubmit)="signIn()" class="login_form">
      <div class="form-group"  [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
        <input [(ngModel)]="signInData.email" #email="ngModel" required type="email" name="email" class="" placeholder="{{'login.email' | translate}}">
        <validation-message #emailErrors [field]="email" [prefix]="'login.email'"></validation-message>
      </div>
      <div class="form-group" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <input [(ngModel)]="signInData.password" #password="ngModel" required type="password" name="password" class="" placeholder="{{'login.password' | translate}}">
        <validation-message #passwordErrors [field]="password" [prefix]="'login.password'"></validation-message>
      </div>
        <button [disabled]="!signInForm.form.valid" type="submit" class="button" translate>{{'login.sign_in'}}</button>          
    </form>
  </div>
</div>