@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}
h1{
  text-align: center;
}

p {
  font-size: medium;
  width: 65%;
  margin: 0 auto;
  background: rgba(26, 34, 78, 0.66);
  padding: 18px;
  font-weight: lighter;
  line-height: 141%;
  margin-top: 2px;
  border-radius: 4px;
}