<layout-sidebar></layout-sidebar>
<layout-navbar></layout-navbar>
<div class="al-main">
  <div class="al-content">
    <layout-content-top></layout-content-top>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <footer class="al-footer clearfix">
  <div class="al-footer-right" translate>{{'general.created_with'}} <i class="ion-heart"></i></div>
  <div class="al-footer-main clearfix">
    <div class="al-copy">&copy; <a href="http://serpro.gov.br" translate>{{'general.serpro'}}</a> 2016</div>
    <ul class="al-share clearfix">
      <li><i class="socicon socicon-facebook"></i></li>
      <li><i class="socicon socicon-twitter"></i></li>
      <li><i class="socicon socicon-google"></i></li>
      <li><i class="socicon socicon-github"></i></li>
    </ul>
  </div>
</footer> -->
<layout-back-top position="200"></layout-back-top>