<ul id="al-sidebar-list" class="al-sidebar-list">
  <layout-menu-item *ngFor="let item of menuItems" 
      [menuItem]="item" 
      (toggleSubMenu)="toggleSubMenu($event)"
      (itemHover)="hoverItem($event)">
  </layout-menu-item>
  <li class="al-sidebar-list-item">
    <a target="_blank" href="/assets/edital.pdf" class="al-sidebar-list-link">
      <i class="ion-clipboard"></i><span translate>ParticiPE</span>
    </a>
  </li>
</ul>

<div class="sidebar-hover-elem " [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}">
</div>