@import '../../../sass/conf/conf';
$sidebar-scroll-width: 4px;

.al-sidebar-list {
  margin: 0;
  overflow: hidden;
  padding: 18px 0 0 0;
  list-style: none;
}

.sidebar-hover-elem {
  width: $sidebar-scroll-width;
  background: $primary;
  position: absolute;
  top: -150px;
  left: $sidebar-width - $sidebar-scroll-width;
  transition: all 0.5s ease;
  transition-property: top, height;
  height: 42px;
  display: block;
}



.al-sidebar-list-item {
  display: block;
  position: relative;
  float: none;
  padding: 0;
  &.selected:not(.with-sub-menu) {
    // background-color: $primary;
    background: hsla(230,55%,4%,0.42);
    a.al-sidebar-list-link {
      color: $sidebar-text;
      b {
        color: $sidebar-text;
      }
    }
  }
  .al-sidebar-list-link {

    &:hover {
      color: #00abff;
      background: #121529;
    }
    display: block;
    height: 42px;
    padding-left: 18px;
    text-shadow: none;
    font-size: 13px;
    text-decoration: none;
    color: $sidebar-text;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 20px;
      // height: 17px;
      // position: relative;
      // top: 3px;
      margin-right: 12px;
      margin-left: -2px;
      // padding-right: 14px;
    }
    &:hover {
      color: $primary;
      b {
        color: $primary;
      }
    }
    i {
      margin-right: 20px;
      // width: 16px;
      // display: inline-block;
      font-size: 18px;
    }
    b {
      display: block;
      opacity: 1;
      width: 14px;
      height: 14px;
      line-height: 14px;
      text-shadow: none;
      font-size: 18px;
      position: absolute;
      right: 10px;
      top: 12px;
      padding: 0;
      text-align: center;
      color: $sidebar-text;
      transition: transform 0.2s linear;
    }
  }
}

