@import '../../../sass/conf/conf';

@import '~bootstrap/scss/bootstrap';

.action-card {
  @extend .row;
}

// :host /deep/.task-action-container {

//   ul.action-list {
//     margin: 0;
//     padding: 0;
//     .placeholder, .ui-sortable-placeholder {
//     }
//     li {
//       margin: 0 0 -1px 0;
//       padding: 12px;
//       list-style: none;
//       position: relative;
//       border: 1px solid $input-border;
//       cursor: grab;
//       height: 42px;      
//     }
//   }

//   .add-item-icon {
//     display: none;
//   }
// }


// /deep/.ng2, .blur {

//   .task-action-container {
//     .action-panel.panel {
//       color: white;
//       opacity: 0.9;
//     }

//     ul.action-list {
//       li {
//         margin: 0;
//         border: none;
//         font-weight: $font-light;

//         .blur-container {
//           height: 40px;
//           position: absolute;
//           width: calc(100% + 40px);;
//           top: 0;
//           left: -25px;
//           overflow-y: hidden;
//         }
//         &:hover {
//           .blur-container {
//             box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.12);
//           }
//           .blur-box {
//             height: 100%;
//             background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
//             -webkit-filter: blur(3px);
//           }
//         }       
//       }
//     }

//     .box-shadow-border {
//       border-bottom: 1px solid rgba(0, 0, 0, 0.12);
//       box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.12);
//       width: calc(100% + 44px);
//       margin-left: -22px;
//     }
//   }
// }
