@import '~bootstrap/scss/bootstrap';

.form-group label{
    color: initial;
}
.form-control{
    color: initial;
    border: 1px solid;
}
.modal-header{
    width: 100%;
    color: white;
    border-radius: 15px;
    padding: 0px;
    background-color: #b9cae4;
    .modal-title{
        padding: 10px;
        padding-left: 20px;
        border-radius: 5px;
        background-color: #243066;
        width: 60%;
        margin-top: -22px;
    }
    .description{
        padding: 20px;
        color: #484c52;
    }
}
.modal-body{
    background-color: #b9cae4;
    padding-left: 50px;
    padding-top: 50px;
    border-radius: 5px;
    margin-top: -10px;
}

.proposal-actions{
    margin: 30px;

    .back{
        background-color: #344953;
        float: left;
        border-radius: 8px;
        border: 4px solid #242424;
        color: white;
        font-size: medium;
        cursor: pointer;
        box-shadow: 11px 14px 0px 2px rgba(0, 0, 0, 0.4);     
        img{
            background-color: #1e272b;
            padding: 8px;
        }
    }
    .vote{
        background-color: #0094bd;
        padding-right: 10px;
        float: left;
        border-radius: 10px;
        border: 4px solid #006b8c;
        color: white;
        font-size: x-large;
        margin-left: 30px;
        cursor: pointer;
        box-shadow: 11px 14px 0px 2px rgba(0, 0, 0, 0.4);
        img{
            background-color: #0082a6;
            padding: 10px;
        }
    }
}